<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Calculadora</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>

  <ion-item>
    <ion-label position="floating">Número 1</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Número 2</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>

<ion-grid>
  <ion-row>
  <ion-col>
    <ion-button expand="full">+</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="full">-</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="full">*</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="full">/</ion-button>
  </ion-col>
  </ion-row>
  <ion-item>
    <ion-label position="floating"></ion-label>
    <resposta></resposta>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-grid>

</ion-content>
